<div class="container">
    <div class="first">
        <div class="inner">
            <div class="picture">
                <img class ="img"  src="../assets/images/shakti.png"/><br><br>
                <p class="p">Connect with your friends and  family </p>
            </div>
            <div class="log">
                <p class="" style="font-family: 'Inter'; font-style: normal;  font-weight: 400;   font-size: 30px;  line-height: 36px;">Login to your Account</p>
                <form class="frm" >
                         <label class="label">EMAIL</label><br>
                         <input type="text" style="width:80%;border: 1px solid #F0F1F7;
                         border-radius: 8px;"><br><br>
                         <label class="label"for="password "placeholder="password">PASSWORD</label><br>
                         <input type="text" style="width:80%;background: #FCFDFE;border: 1px solid #F0F1F7; border-radius: 8px;"><br><br>
                         <input type="checkbox" style="border-radius: 0px 0px 0px 0px; border: 2px solid rgba(95, 95, 95, 0.8);"><label class="label">&nbsp;&nbsp;&nbsp;Remember me</label><br><br>
                         <div class="sign">
                            SIGN IN
                         </div><br><br>
                         <div class="submit">
                         <div class="gle"><img style="height: 70%; width: 70%;" src="../assets/images/google.png" /></div>
                            <div class="text">Continue width Google</div>
                         </div>
                </form>
            </div>
        </div>
    <div class="seccond"></div>
    <div class="third"></div>
    </div>

</div>